
bin32/VideoPlayer.ilk
VideoPlayer.pro.user
bin64/data
module/VideoPlayer/lib/linux/ffmpeg
module/VideoPlayer/lib/linux/SDL2
bin64/VideoPlayer
build/
module/VideoPlayer/lib/SDL2
module/VideoPlayer/lib/ffmpeg
